@import "./page-transition-loading-animation.css";

$color1: #19191b;
$color2: #ba324f;
$color3: #2f1b25;
$color4: #326771;
$color5: #2c8c99;

$color-red-d: #5c4242;
$color-red: #ff8383;
$color-orange-d: #5f4e44;
$color-orange: #ffaa72;
$color-yellow-d: #5c5b40;
$color-yellow: #fffda2;
$color-green-d: #394e3c;
$color-green: #73b67c;
$color-cyan-d: #3b5152;
$color-cyan: #72faff;
$color-blue-d: #413f57;
$color-blue: #7b72ff;
$color-purple-d: #483b53;
$color-purple: #c072ff;
$color-pink-d: #5a4058;
$color-pink: #ff72f3;

$colors: (
  $color-red,
  $color-red-d,
  $color-orange,
  $color-orange-d,
  $color-yellow,
  $color-yellow-d,
  $color-green,
  $color-green-d,
  $color-cyan,
  $color-cyan-d,
  $color-blue,
  $color-blue-d,
  $color-purple,
  $color-purple-d,
  $color-pink,
  $color-pink-d
);

a {
  text-decoration: none;
}
code {
  font-family: monospace;
  background-color: $color1;
  padding: 3px 5px;
  border-radius: 4px;
}
body {
  margin: 0;
  background-color: $color1;
  color: $color2;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

// layout

.page-content {
  min-height: 100%;
}

@media only screen and (max-width: 900px) {
  .frame {
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row !important;
    justify-content: space-between;
    height: 100px;
    width: 100vw !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 20px;
    .logo {
      margin: 0 !important;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .fixed-form {
    transform: translate(-50%, -50%) !important;
  }
}

.sidebar {
  background: lighten($color1, 10%);
  width: 140px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#sidebar .logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

#sidebar a {
  color: white;
  border-radius: 8px;
  padding: 2px 10px;
  margin-left: -10px;
  transition: background-color 0.3s ease;
}

#sidebar a:hover {
  background-color: lighten($color1, 25%);
}

#sidebar a.is-active {
  background-color: lighten($color1, 33%);
}

.frame {
  display: flex;
  min-height: 100vh;
  margin: auto;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: $color2;
  border-bottom: $color2 3px solid;
  border-top: $color2 3px solid;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translate(-50%, 20px);
  width: 200px;
  height: 80px;
}

textarea:focus,
input:focus {
  outline: none;
}
textarea:read-only,
input:read-only {
  cursor: default;
}

.confirm {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $color3;
  border-top: solid 3px $color2;
  border-bottom: solid 3px $color2;
  padding: 10px;
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  div {
    display: flex;
  }
}
